@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  cursor: none;
}

@media (pointer: coarse) {
  * {
    cursor: auto;
  }
  
  .custom-cursor {
    display: none;
  }
}

@media (max-width: 768px) {
  .custom-cursor {
    display: none;
  }
}
